nav>ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-items: flex-end
}

li img {
  border-radius: 50%;
}

button {
  border-radius: 5px;
}

section.main_content {
  margin-top: 50px;
  display: flex;
}


/* History Section */
.history {
  background: #042F63;
  color: white;
  width: 20%;
  border-radius: 5px;
  padding: 20px;
}

.history i {
  color: #FFD200;
  margin-right: 15px;
}

#parcel {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.history>h1 {
  background: rgb(80, 80, 80);
  color: white;
  margin-bottom: 20px;
  text-align: center;
  border-radius: 5px;
  margin-top: -30px;
}


/* Parcel information section */
div.parcel_info {
  width: 60%;
  margin: auto
}

/* Form */
form {
  display: grid;
  justify-content: center;
}

.parcel_info input {
  width: 400px;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgb(209, 209, 209);
}

#content,
#pickup,
#destination {
  width: 600px;
}

.btn_submit {
  margin: auto;
}

/* Parcel orders */
.parcel_orders {
  background: #042F63;
  color: white;
  border-radius: 5px;
  margin-top: 50px;
  height: 100%;
  padding-bottom: 20px;
  margin-bottom: 100px;
}

h2 {
  background: rgb(80, 80, 80);
  color: white;
  margin-bottom: 20px;
  text-align: center;
  border-radius: 5px;
  margin: auto;
  width: 300px;
}

/* Orders */
.orders {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  margin-bottom: 30px;
  margin-top: 30px;
}

.orders>div>button {
  font-size: 15px;
  margin-top: 5px;
}